.markdown-section img {
	border: #CCC 1px solid;
}

.accordion {
	max-height: 500px;
	margin-bottom: 5px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
	transition: max-height 250ms ease-out;
}

.accordionTitle {
	padding: 4px;
}

.iframe-container iframe {
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hidden-onscreen {
	display: none;
}